* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  width: 550px;
  padding: 25px 10px;
  background-color: hsl(215, 28%, 17%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 317px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: hsla(231, 12%, 12%, 1);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: 317px;
  margin: 0px auto;
  object-fit: cover;
}

.header div {
  margin: 10px 30px;
}

.header h2, .header h4 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
}

.header h4 {
  font-size: 14px;
  color: hsla(25, 79%, 78%, 1);
  font-weight: 400;
  margin: 5px auto;
}

.header .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  padding: 12px 20px;
  color: black;
  fill: black;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.header button a {
  font-size: 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 15px;
  color: black;
  font-weight: 500;
}

.header button a svg {
  width: 16px;
  height: 16px;
}

.main {
  width: 317px;
  background-color: hsla(231, 12%, 12%, 1);
  padding: 20px 30px;
  color: white;
}

.main h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 2px;

}

.main p {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  word-spacing: 3px;
  text-align: justify;
  color: #DCDCDC;
  margin-bottom: 25px;
}

.footer {
  width: 317px;
  background-color: hsla(231, 7%, 9%, 1);
  border-radius: 0px 0px 10px 10px;
  padding: 20px 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  padding: 7px;
  font-size: 16px;
  border: none;
  background-color: hsla(254, 6%, 58%, 1);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer svg {
  width: 25px;
  height: 25px;
  fill: black;
}

@media screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }
}